body {
  height: 100vh;
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(138deg, #6a8bbe, #b1e0a5);
    background-size: 400% 400%;
    -webkit-animation: AnimationName 10s ease infinite;
    animation: AnimationName 10s ease infinite;
    
}

.heading{
  text-align: center;
  color:midnightblue;
  font-size: 50px;
}

@-webkit-keyframes AnimationName {
  0%{background-position:9% 0%}
  50%{background-position:92% 100%}
  100%{background-position:9% 0%}
}
@keyframes AnimationName {
  0%{background-position:9% 0%}
  50%{background-position:92% 100%}
  100%{background-position:9% 0%}
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

.navbar{
  display: flex;
  justify-content: center;
}

.soundcloudbar{
  display: flex;
  justify-content: center;
  margin: 15px;
  padding: 10px;
  /* border: white 1px solid;
  border-radius: 30px; */

}

.navbuttons{
  border: 3px solid whitesmoke;
  border-radius: 20px;
  color: rgb(73, 62, 143);
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
  background-color: rgb(173, 194, 216);
  margin: 8px;
  padding: 9px;
  text-decoration: none;

  
}

.navbuttons .tooltiptext{
  visibility: hidden;
  z-index: 1;
  bottom: 100%;
  
  
}

.navbuttons:hover {
  cursor: pointer;
  background-color: gold;
  box-shadow: 0px 10px 20px -7px #000000, 15px 15px 15px 15px rgba(32, 52, 141, 0);
  
}

.navbuttons:hover .tooltiptext {
  /* cursor: pointer;
  background-color: gold;
  box-shadow: 0px 10px 20px -7px #000000, 15px 15px 15px 15px rgba(32, 52, 141, 0); */
  visibility: visible;
    
}



/* .scrollable-list {
  overflow:hidden;
  overflow-y:scroll;
} */

h2{
  text-align: center;
  color: #FFFFFF;
  text-shadow: 1px 3px 0 #969696, 1px 7px 5px #aba8a8;
}

.inspoquote{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  text-align: center;
  font-size: 45px;
  color: #FFFFFF;
text-shadow: 1px 3px 0 #969696, 1px 7px 5px #aba8a8;
  
}

.yogabox{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;

}

.video {
  padding-left: 20px;
  padding-right: 20px;
}

.journalform{
  display: flex;
  align-items: center;
  justify-content: center;


}

#inputbox{
  height: 50px;
  width: 300px;
  overflow-wrap: break-word;
}

/* .parent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 14px;
  grid-row-gap: 0px;
  } */

  .breathe-tool {
    display: flex;
    padding:60px;
    justify-content: center;
    align-items: center;
    height: 125px;
    /* width: 125px; */
    animation: pulse 4s cubic-bezier(0.5, 0, 0.5, 1) alternate infinite;
  }
  
  .circle {
    height: 125px;
    width: 125px;
    border-radius: 50%;
    position: absolute;
    mix-blend-mode: screen;
    transform: translate(0, 0);
    animation: center 7s infinite;
  }
  
  .circle:nth-child(odd) {
    background: #61bea2;
  }
  
  .circle:nth-child(even) {
    background: #529ca0;
  }
  
  .circle:nth-child(1) {
    animation: circle-1 4s ease alternate infinite;
  }
  
  .circle:nth-child(2) {
    animation: circle-2 4s ease alternate infinite;
  }
  
  .circle:nth-child(3) {
    animation: circle-3 4s ease alternate infinite;
  }
  
  .circle:nth-child(4) {
    animation: circle-4 4s ease alternate infinite;
  }
  
  .circle:nth-child(5) {
    animation: circle-5 4s ease alternate infinite;
  }
  
  .circle:nth-child(6) {
    animation: circle-6 4s ease alternate infinite;
  }
  
  @keyframes pulse {
    0% {
      transform: scale(.15) rotate(180deg);
    }
    100% {
      transform: scale(1);
    }
  }
  
  @keyframes circle-1 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(-35px, -50px);
    }
  }
  
  @keyframes circle-2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(35px, 50px);
    }
  }
  
  @keyframes circle-3 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(-60px, 0);
    }
  }
  
  @keyframes circle-4 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(60px, 0);
    }
  }
  
  @keyframes circle-5 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(-35px, 50px);
    }
  }
  
  @keyframes circle-6 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(35px, -50px);
    }
  }

  